<app-content-container>
  <div class="row">
    <app-chart class="chart-card-2"
               [chartType]="ChartType.LINE"
               [chartData]="lineChartData"
               [labels]="chartLabels"
               topLabel="Roczna"
               mainLabel="Sprzedaż samochodów"
               icon="icon-delivery-fast"
               iconColor="#1551f4">
    </app-chart>

    <app-chart class="chart-card-2"
               [chartType]="ChartType.BAR"
               [chartData]="barChartData"
               [chartColors]="chartColors"
               [borderColors]="chartBorderColors"
               [labels]="chartLabels"
               topLabel="Miesięczne"
               mainLabel="Wynagrodzenia"
               icon="icon-money-coins"
               iconColor="green">
    </app-chart>
  </div>
  <div class="row">
    <app-chart class="chart-card-3"
               [chartType]="ChartType.RADAR"
               [labels]="chartRadarLabels"
               mainLabel="Efektywność"
               color="#ff00c1">
    </app-chart>

    <app-chart class="chart-card-3"
               [chartType]="ChartType.PIE"
               [chartData]="pieChartData"
               [chartColors]="chartColors"
               [borderColors]="chartBorderColors"
               [labels]="chartLabels"
               topLabel="Miesięczne"
               mainLabel="Wynagrodzenia"
               color="#c70000">
    </app-chart>

    <app-chart class="chart-card-3"
               [chartType]="ChartType.DOUGHNUT"
               [chartData]="doughnutChartData"
               [chartColors]="chartColors"
               [borderColors]="chartBorderColors"
               [labels]="chartLabels"
               topLabel="roczna"
               mainLabel="Sprzedaż samochodów"
               color="#ffdb01">
    </app-chart>
  </div>
</app-content-container>
