<app-content-container>
  <div class="row section-margin">
    <app-chart class="col-12"
               [viewState]="lineViewState"
               [chartType]="ChartType.LINE"
               [chartData]="lineChartData"
               [labels]="chartLabels"
               topLabel="Roczna"
               mainLabel="Sprzedaż samochodów"
               icon="icon-delivery-fast"
               iconColor="#A93226"
               color="#A93226">
    </app-chart>
  </div>

  <div class="cars-container">
    <h3 class="header">TOP 3 SAMOCHODY</h3>
    <app-view-state [viewState]="topCarsViewState">
      <ng-container *ngIf="cars">
        <div class="row section-margin">
          <app-car-card class="dashboard-car-card" *ngFor="let car of cars" [car]="car"></app-car-card>
        </div>
      </ng-container>
    </app-view-state>
  </div>

  <div class="row section-margin">
    <div class="dashboard-data-card">
      <app-tasks></app-tasks>
    </div>
    <div class="dashboard-data-card">
      <app-table [viewState]="carsTableViewState"
                 tableHeader="Dostępne samochody"
                 [data]="carsTableData"
                 [headers]="headers"
                 [highlightRow]="true"
                 (rowClicked)="rowClicked($event)"></app-table>
    </div>
  </div>
</app-content-container>
