<div class="menu card">
  <div class="inputs-container">
    <div class="menu-element">
      <label for="carAmount">Wprowadź liczbę kart</label>
      <input id="carAmount" class="form-control" type="number" [(ngModel)]="cardAmount">
    </div>
    <div class="menu-element">
      <label for="carCardWidth">Wprowadź szerokość karty</label>
      <input id="carCardWidth" class="form-control" type="text" [(ngModel)]="cardWidth">
    </div>
    <div class="menu-element">
      <label for="carAmount">Ułożenie kart poziomo</label>
      <select id="vertical" class="form-control" [(ngModel)]="radioValue">
        <option class="form-control-option" value="flex-start">FLEX START</option>
        <option class="form-control-option" value="flex-end">FLEX END</option>
        <option class="form-control-option" value="center">CENTER</option>
        <option class="form-control-option" value="space-between">SPACE BETWEEN</option>
        <option class="form-control-option" value="space-around">SPACE AROUND</option>
      </select>
    </div>
    <div class="menu-element">
      <label for="carAmount">Ułożenie kart pionowo</label>
      <select id="horizontal" class="form-control" [(ngModel)]="radioValueY">
        <option class="form-control-option" value="flex-start">FLEX START</option>
        <option class="form-control-option" value="flex-end">FLEX END</option>
        <option class="form-control-option" value="center">CENTER</option>
        <option class="form-control-option" value="space-between">SPACE BETWEEN</option>
        <option class="form-control-option" value="space-around">SPACE AROUND</option>
      </select>
    </div>
    <div class="menu-element">
      <button class="btn btn-fill btn-danger"
              (click)="addNewCar()"
              matTooltip="Dodaj nowy samochód"
              matTooltipPosition="above">
        <i class="tim-icons icon-simple-add"></i>
        <i class="tim-icons icon-delivery-fast"></i>
      </button>
    </div>
  </div>


</div>
<app-view-state [viewState]="viewState">
  <div class="flex-container" [ngStyle]="{'justify-content': radioValue, 'align-content': radioValueY}">
    <ng-container *ngIf="cars">
      <app-car-card class="flex-card"
                    *ngFor="let car of cars.reverse().slice(0, cardAmount)"
                    [car]="car"
                    [ngStyle]="{'width': cardWidth}">
      </app-car-card>
    </ng-container>
  </div>
</app-view-state>
